cctb/*
!cctb/cctb_script.tcl
!cctb/makefile
!cctb/questa_after_vsim.do
!cctb/requirements.txt
!cctb/user_requirements.txt

quartus/*
!quartus/custom_assignments.tcl
!quartus/makefile
!quartus/package.tcl
!quartus/setup_sh.tcl

questa/*
!questa/makefile
!questa/questa_script.tcl

utils/*
!utils/collect_lists.py